{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	<title>{% block title %} BASE {% endblock %}</title>
	<style>
	h1 
	{
		color:blue;
		font-family: verdana;
		.thumb {
            height: 300px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
         }
	}

	</style>
</head>
<body  style="background-image:url('static/img/downloads-bg.jpg')">
	{% block header %}
	<h1>Este es el bloque de header base</h1>
	{% endblock %}
	<label for="photo">Incluya una foto</label>
	<div class="drag-drop">
	<input type="file" id="files" name="files[]" />
        <br />
        <output id="list"></output>
        <script>
              function archivo(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                        };
                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
              document.getElementById('files').addEventListener('change', archivo, false);
      </script>
	</div>
	<button type="submit" class="btn btn-primary">Enviar</button>
	<button type="reset" class="btn btn-default">Cancelar</button>
	{% block content %}
	<h5>Este es el contenido del archivo base</h5>
	{% endblock%}

	{% block footer %}
	<h5>Soy el footer del base</h5>
	{% endblock %}
</body>
</html>