{% extends 'Base/base.html' %}

<style>
	
	.thumb{

        height: 300px;
        border: 30px solid #fff;
        margin: 50px;
    }
</style>

{%block content%}

<label for="photo">Incluya una foto</label>
	<div class="drag-drop">
	<input type="file" id="files" name="files[]" />
        <br />
        <output id="list"></output>
        <script>
              function archivo(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), 'WIDTH="400px" HEIGHT="400px" "/>'].join('');
                        };
                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
              document.getElementById('files').addEventListener('change', archivo, false);
      </script>
	</div>
	<button type="submit" class="btn btn-primary">Enviar</button>
	<button type="reset" class="btn btn-default">Cancelar</button>
{%endblock%}